.tippy-box {
  background-color: white;
  color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 8px;
  max-width: 200px !important;
}

.tippy-box[data-theme~='light'] {
  background-color: white;
  color: #333;
}

.tippy-box[data-theme~='light'] .tippy-arrow {
  color: white;
}

@media (max-width: 767px) {
  .tippy-box {
    max-width: 150px !important;
    font-size: 12px;
  }
} 